<div class="header">
  <div class="header-container">
    
    <div class="side"></div>
    
    <div class="links">

      <div class="logo ">
        <img src="/assets/images/metopotato1.png" alt="">
      </div>
      
      <ul>
        <li>Data</li>
        <li>Science</li>
        <li>Music</li>
        <li>Math</li>
        <li>Data</li>
        <li>Science</li>
        <li>Music</li>
        <li>Math</li>
      </ul>
      
      <div class="login">
        <img src="/assets/images/login_icon.png" alt="">
      </div>

    </div>

    <div class="side"></div>

  </div>
</div>
